asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-stubs==4.2.3
django-stubs-ext==4.2.2
djangorestframework==3.14.0
djangorestframework-stubs==3.14.2
gunicorn==21.2.0
idna==3.4
mypy==1.5.1
mypy-extensions==1.0.0
packaging==23.1
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
urllib3==2.0.4
whitenoise==6.5.0
